<section fxFlex="70" class="post-create-content">
    <mat-card>
        <form (submit)="onAddPost(postForm)" #postForm="ngForm" class="form-items">
    
            <mat-form-field class="w-100" appearance="outline"> 
                <mat-label>Post Title</mat-label>
                <input type="text" 
                matInput 
                name="title"
                ngModel required
                 placeholder="Title"
                 #title="ngModel">
                
                 <mat-error *ngIf="title.invalid">plese enter title</mat-error>
                
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Post Content</mat-label>
                <input type="text"
                 name="content"
                 matInput
                 ngModel required
                 placeholder="Content"
                 #content="ngModel">
                 <mat-error *ngIf="content.invalid">plese enter content</mat-error>
            </mat-form-field> 
            <button mat-raised-button type="submit" class="save-btn">Save Post</button>
    
            
        </form>
    </mat-card>
    
</section>

