<!-- <div fxFlex fxLayoutAlign="center center" class="bg">
    <div class="header br">
        <app-header></app-header>
    </div>
    <div class="coontainer by">
        <app-post-create></app-post-create>
        <app-postlist></app-postlist>
    </div>
</div> -->


<div class="main-container" fxFlex fxFlexLayout="column" fxFlexLayoutAlign="center center">
    <div class="header" fxFlexLayoutAlign="center center">
        <app-header></app-header>
    </div>
    <div class="coontainer">
        <app-post-create></app-post-create>
        <app-postlist></app-postlist>
    </div>
</div>